doctype html
html 
    head
        meta(charset='utf-8')
    body
        h1 Homepage
        //- h2 로그인 해주세요
        p
            button(type="button" onclick="location.href='http://localhost:3000/api/users/logout'") 로그아웃
        //- p
        //-     button(type="button" onclick="location.href='http://localhost:3000/login'") 로그아웃
