doctype html
html 
    head
        meta(charset='utf-8')
        title Signup
    body
        form(action='/signup' method='post')
            p
                h2 email:
                input(type='text' name='email' placeholder='example@gmail.com')
            p 
                h2 name:
                input(type='text' name='name' placeholder='name')
            p 
                h2 password:
                input(type='password' name='password' placeholder='password')
            p
                button Sign Up 
            p
                button(type="button" onclick="location.href='http://localhost:3000/login'") 로그인